# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

La navbar tiene un degrade del color original pero mas oscuro, cuando arranca la navbar de genero termina
hacer que la navbar + genrenav sea sticky


https://www.youtube.com/watch?v=ATz8wg6sg30
https://www.themoviedb.org/u/levizera
https://www.youtube.com/watch?v=ytNyibPQFhw
https://www.youtube.com/watch?v=HhHz9OqyR-E



https://netflix-clone-pujovic.vercel.app/
