*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: #141414;
}

/* HERO */

.movie_container {
  position: relative;
}

.movie_info {
  position: absolute;
  top: 30rem;
  left: 0;
  z-index: 1;
}

.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0 60px;
}
.navbar a{
  text-decoration: none;
  color: white;

}
.navbar li{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.navbar_misc{
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
}
.navbar_misc > *{
 margin-right: 15px;
}
.navbar_misc > *:last-child {
  margin-right: 0;
}