
body {
  background-color: #141414;
}

/* HERO */

.movie_container {
  position: relative;
}

.movie_info {
  position: absolute;
  top: 30rem;
  left: 0;
  z-index: 1;
}

.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
}
.navbar a{
  text-decoration: none;
  color: white;

}
.navbar li{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}